html {
  box-sizing: border-box;
  font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

/** Globales **/
img {
  max-width: 100%;
  
}
.contenedor {
  width: 100%;
  max-width: 100%; /** = 1200px; **/
  margin: 0 auto;
  
}

/*header*/
.logo-marca img{
margin-right: 0rem;
}
.redes-sociales{
padding-right: 20px;
}
.redes-sociales a{
color: #ffffff; 
font-size: 20px;  
margin-left: 47px;

}
.redes-sociales a:hover{
color: #ffffff;
text-decoration: none;

}



.contenido-header{

display: flex;
justify-content: space-around;
align-items: center;
padding-top: 3rem;

}

header.site-header{
  
  background-image: url(../img/barrasuperior1.png);
  background-position: center center;
  background-size: cover;
  
  height: 100px;
  margin-top: 1rem;
  width: 100%!important;
  
  
  
 }
 /*menu de navegacion responsivo para tablet*/
 @media (max-width:768px) {
  .contenido-header{
    display: flex;
    flex-direction: column-reverse;
    align-items: center; 
    justify-content: center;   
    padding-bottom: 2rem; 
      
    }
    
   
 }
 @media ( max-width:768px) {
 
  .redes-sociales a{
    color: #ffffff; 
    font-size: 16px;  
    margin-left: 35px;
    
    }
 }

 /*carouel*/
 .carousel{  
   margin: 0 auto;
   margin-top: 1rem;
   margin-bottom:1rem;
 }

 
 /*productos destacados*/

 
 .iconos-producto{
   display: flex;
   justify-content:space-between;
   padding-top: 15px;     
 }
 .imagen-fondo{
  
  background-image: url(../img/productos-destacados.png);
  background-position: center center;
  background-size: cover; 
  width: 100%;
    
  
 }

 
/*contenedores*/
.icono:hover img{
  -webkit-transform: scale(1.1);
  -webkit-transition-duration: 1s;
}
.producto img{
    -webkit-transition: all 5s ease-in-out;
}
.icono img{
  padding-bottom: 0px;
}

.contenedores{ 
  max-width: 876px;
  margin: 0 auto;  
}

.barra{
  padding-bottom: 10px;
}
.barra img{
  max-width: 876px;  
  margin-bottom:-5px; 
}

.barra h1{
  font-size: 1.9rem;
  color: #ffffff; 
  position: absolute;
  top: 46px;
  right: 887px;  
}

.centrado{
  max-width: 876px;
  margin: 0 auto;  
}

.barra1{
  position: relative;
margin-top: 10px;
}
.barra1 p{
  font-size: 1.6rem;
  text-align: left;
}

.barra1 h1{
  font-size: 2rem;
  color: #ffffff;
  position: absolute;
  left: : 250px;
  top: 47px;
}

.titulo{
  margin-top: 10px;
  margin-left: 10px;
}
 h4{
  font-weight: bold;
  font-size: 15px;
}
.titulo img{
  margin-bottom: 10px;
}

/*tablet-productos destacados*/

@media(max-width:768px) {
 .barra-productos-destacados{
   
   margin 0 auto;
 }
 .contenedor-resp{
   max-width: 650px;
   margin: 0 auto;
 }
 .imagen-fondo{
  background-image: url(../img/productos-destacados.png);
  background-position: center center;
  background-size: cover;
  width: 100%; 
  height: 100%;
  
 }
 h4{
  font-weight: bold;
  font-size: 13px;
}
.barra1 h1{
  font-size: 1.5rem;
  color: #ffffff;
  position: absolute;
  left: : 250px;
  top: 35px;
}

  
 
}


/*recuadros*/
.titulo1 h1{
  font-size: 10px;
  color: aqua;
}

.barra2{
  padding-bottom: 10px;
}
.recuadros{
  display: flex;
  justify-content: space-between;
}

.carta{
  flex-basis:calc(33.3% - 1rem);
  text-align: center;
  
}
.carta:hover img{
-webkit-transform: scale(1.1);
-webkit-transition-duration: 1s;

}


/*catalogos*/
.parlantes{
background-image: url(../img/fondo-parlantes.jpg);
background-position: center center;
background-size: cover;
scroll-margin-top: 2rem;
}
.parte-sup{
display: grid;
grid-template-columns: 49% 49%;
grid-column-gap: 22px;
padding-top: 2rem;


}
.arriba:hover img{
  -webkit-transform: scale(1.1);
-webkit-transition-duration: 1s;
}
.parte-inf{
display: flex;
justify-content: space-between;
padding-top: 1rem;

margin-bottom: -10px;

}
.abajo{
flex-basis:calc(33.3% - 1rem);
  
  margin-right: -5px;
  
}
.abajo img{
max-width: 100%!important;

margin-top: 8px;
margin-bottom: 10px;
}
.abajo:hover img{
  -webkit-transform: scale(1.1);
-webkit-transition-duration: 1s;
}
.marca-top  {
position: relative;
margin-left: 112rem;
margin-bottom: 10px;


}
/* .imagen-marca{
position: absolute;
bottom: 20px;
right: 20px;
left: 1147px;
top: -45px;
color: aqua;
}
.imagen-marca img{
color: black!important;
} */


.formulario{

background-position: center center;
background-size: cover;
scroll-margin-top: 2rem;
background-color: rgb(168, 161, 161);

margin-top: 19px;
}

footer{
background-color: black;
padding-top: 15px;
padding-bottom: 2.5rem;
margin-top: -15px;
height: 100px;

}
h6{
  padding-top: 25px;
  text-align: center;
  color: #ffffff!important;
}
.footer-inicio{
margin: 0 auto;
}
.menu-redes-sociales{
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}
.menu-redes-sociales a{
  margin-right: 19px;
}
.menu-redes-sociales nav{
  margin-left: -14px;
}
.menu-redes-sociales img{
  width:150px;
  height: 24px;
}

p{
text-align: center;
}

h3{

position: absolute;
bottom: 55.7rem;
left: 27rem;
color:white;

}


form input[type="text"],
form input[type="tel"],
form input[type="email"]{
  width:100%;
  padding:20px 20px;
  border-radius:1px;
  margin:8px 0;
  border-color: rgb(175, 171, 171);
}

.estilotextarea{
  width:100%;
  height: 21rem;
  padding:40px 20px;
  border-radius:1px;
  border-color: rgb(175, 171, 171);
  margin:8px 0;
   
}


.formu{
background-color: white;
padding-bottom: 1.4rem;
}
/*footer*/
.sub-footer a{
margin-left: 2.5rem;
}
.form-group{
margin-top: 17px;
}
.card-body{
padding: 0.25rem!important;
}
.row{
  margin-bottom: 10px!important;
}

/* formulario */

.columna{
  width: 21rem; 
  height: 32rem; 
  background-color: white;
}
.columna2{
  width: 21rem;
  height: 13rem;
  margin-bottom: 2rem; 
  background-color: white;
}

@media(max-width:768px) {
 
  .formu{
    background-color: white;
    padding-bottom: 3rem!important;
}
 
.columna{
  width: 18rem!important; 
  height: 34rem!important; 
  background-color: white!important;
}
.columna2{
width: 18rem!important;
height: 13rem!important;
margin-bottom: 2rem!important; 
background-color: white;
}
}
  